.DayWeather {
    border: 1px solid black;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: #d1f6f6;
    border-radius: 10px;
}
